<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <!-- <bindings />
        <client />-->
    <bindings>
      <wsHttpBinding>
        <binding name="vbsSecuredBinding" closeTimeout="23:59:59" openTimeout="23:59:59" receiveTimeout="23:59:59" sendTimeout="23:59:59" maxBufferPoolSize="524288" maxReceivedMessageSize="1073741824">
          <readerQuotas maxDepth="1000000000" maxStringContentLength="1000000000" maxArrayLength="1000000000" maxBytesPerRead="1000000000" maxNameTableCharCount="1000000000" />
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <client>
      <endpoint address="http://localhost:2001/GenericService" behaviorConfiguration="nullX509Behavior" binding="wsHttpBinding" bindingConfiguration="vbsSecuredBinding" contract="Visma.BusinessServices.Generic.IGenericService">
        <identity>
          <dns value="VBSTestCert" />
        </identity>
      </endpoint>
    </client>

    <behaviors>
      <endpointBehaviors>
        <behavior name="nullX509Behavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="Custom" customCertificateValidatorType="Visma.BusinessServices.Client.NullX509CertificateValidator, Visma.BusinessServices.Client" />
            </serviceCertificate>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="1000000000" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>


<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
